*{
    box-sizing: border-box;
}
h2 {
    text-align: center;
}

#center {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -80px;
}





/*transition动画
#box{
     -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 3s linear;
}
#box:hover{
    transform:rotateY(90deg) rotateX(90deg);
}*/

#box {
    /*-webkit-perspective:200;
    -webkit-perspective-origin:25% 75%;
    perspective-origin:25% 75%;*/
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    /*设置旋转元素的基点位置*/
    transform-origin: 80px 80px 0;
    -webkit-transform-origin: 80px 80px 0;
    /*起始的角度*/
    transform: rotateX(-20deg) rotateY(30deg);
    -webkit-transform: rotateX(-20deg) rotateY(-20deg);
    /*动画*/
    -webkit-animation: 6s spin linear infinite;
}


@-webkit-keyframes spin {
    from {
        -webkit-transform: translateZ(-10em) rotateX(0) rotateY(0deg);
        transform: translateZ(-10em) rotateX(0) rotateY(0deg);
    }

    to {
        -webkit-transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
        transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
    }
}



/* #box:hover {
    animation-name: animation;
    -webkit-animation-name: animation;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
}      
@-webkit-keyframes animation {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg)
    }
    50% {
        -webkit-transform: rotateX(360deg) rotateY(360deg)
    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg)
    }
}

@keyframes animation {
    0% {
        transform: rotateX(0deg) rotateY(0deg)
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg)
    }
}
*/


/*6个大面*/

.allside {
    position: absolute;
    height: 160px;
    width: 160px;
    /*border: 1px solid #000;*/
    /* background: rgba(255, 200, 100, 0.6);*/
    text-align: center;
    font-size: 100px;
    line-height: 160px;
    background: #fff;
}

.one {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
}

.two {
    -webkit-transform: rotateX(-90deg) translateZ(80px);
    transform: rotateX(-90deg) translateZ(80px);
}

.three {
    -webkit-transform: rotateX(90deg) translateZ(80px);
    transform: rotateX(90deg) translateZ(80px);
}

.four {
    -webkit-transform: translateZ(-80px) rotateY(180deg) rotateZ(180deg);
    transform: translateZ(-80px) rotateY(180deg) rotateZ(180deg);
}

.five {
    -webkit-transform: rotateY(90deg) translateZ(80px);
    transform: rotateY(90deg) translateZ(80px);
}

.six {

    -webkit-transform: rotateY(-90deg) translateZ(80px);
    transform: rotateY(-90deg) translateZ(80px);
}





/*每个面的小块*/

.allside div {
    width: 32%;
    height: 32%;
    margin: 0.6% 0.6%;
    float: left;
    border-radius: 5px;
}

.one div {
    background: #000000;
}

.two div {
    background: #fd00ff;
}

.three div {
    background: #0027ff;
}

.four div {
    background: #00bcd4;
}

.five div {
    background: #ffe100;
}

.six div {
    background: #ff0000;
}